/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
/config
/.vscode
/bootstrap
/storage
/tests

.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
.env.example
.gitattributes
.gitignore
.styleci.yal
.artisan
.phpunit.xml